:root {
    --bg-button: white;
    --border-button: solid 1px gray;
}

.button {
    font-size: 1.5em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: whitesmoke;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: orange;
    color: white;
}

.button.operation:active {
    background-color: darkorange;
}